sudo: false
language: node_js
install:
  - npm ci
jobs:
  include:
    - env: DRAFTJS_VERSION=0.10.5
    - env: DRAFTJS_VERSION=0.11.2
script:
  # Test Git hooks in CI, to make sure script upgrades do not break them.
  - npm run prepare
  # Test commit message validation in CI.
  - git log -1 --pretty=%B >> latest.log && ./.git/hooks/commit-msg latest.log
  - npm run test:ci
  - npx commitlint-travis
  - if [ "$TRAVIS_SECURE_ENV_VARS" == true ]; then npx danger ci --verbose; fi
  - npm run report:package
after_success:
  - mv coverage/lcov-report build || true
  - cat ./coverage/lcov.info | npx coveralls
branches:
  except:
    - gh-pages
deploy:
  - provider: pages
    skip_cleanup: true
    local_dir: build
    github_token: "$PAGES_GITHUB_API_TOKEN"
    on:
      branch: master
      condition: "$DRAFTJS_VERSION = 0.10"
  - provider: script
    skip_cleanup: true
    script: npx semantic-release
    on:
      condition: "$DRAFTJS_VERSION = 0.10"
notifications:
  email: false
env:
  global:
    # Permissions: public_repo
    # travis encrypt --org DANGER_GITHUB_API_TOKEN=<value>
    - secure: "CzmnlUBhwuXI+/cETWndKBiUnXGW3SOiUBuyynx02/Vit2Gknf83EGtKzj/DlwJKKJGWx8rmY9C86oqG7DZOX3JHsaD6s6zh/y2lNeSOhDABSipWGH6n/O1bmxvbnQyu4HRfw3ErRZEmRl6KzIaZ3C8E9j1yqHuWEgUFuStEzQfauPwW4KGOs6A/u6WPNySG/qP4rtgeM8TChyJX3QM42v+CpCSpHikUhta1vpW2sQcQKs7KYE9eje33y0OH7IdpYA9jtajqJj4Tu6wgFGeJOUfde5UNUQ35xJRhb89YL9a36nQ6NaUB4tD7C5lBernko5pEjwJws2PtdKV2dwDYtpD2K3Bq3v3+4V8XOeu2nIxmJBwDIrPG6t5nzvIInqVKkFwalTwJHrsR+q4PWfRO03CYQQ2KhaouSeT7tP2ia4fryGlwC2kqViZsK4+of1TpYZri0NbY7nzOVSfUR64m4J8I8qLGKn5mtAWvBAR1HQGJXf8YhTCGBWqxIaW43CGvfsY+aNLPK+DK9Z1aQQFF6VLKnfHHd16F8kVL0ljEhnq9MnXIx5QOVUOu29BywarjK8KSfMnaCI0Nc9tGHt8h/NPTRto9QZnaQBYA3iHizLFT3Nn6pNlANxWafPVOj6WbcoTbiLWPxiaoyilkaAEXe8mZ8PcXWVeQFyqrU7lBTgg="
    # Permissions: public_repo
    # travis encrypt --org PAGES_GITHUB_API_TOKEN=<value>
    - secure: "b8BXTwyQBGoRBNX2/liBIIfwKNdT1xhJ2tPEholyqcffA4HjJ/zlz2e1ueW2HDFb77HM5UBVp5pJB5b7R4WBRzWRrhBfn6T8QlpEbtSlKLDGHx+0MX3/uBkUKV5eGB1ereI33MxIxdWFJUmUZKLN7+zKLev1uLdz/YcyNSCBcrCgSyvHMuoUUaRtMI+q/92v1pESSt/5+zycccpfsopXLetp2euSmdE1XiIhUZhS0XdQtb9wZA8nWgDdIZCk+Zy8rPY0AeCCyBkgOIZRzDYsudD3CPn72sV59Hd84kP26FAm/+mUaVRD8bbbZLJ6WE+jhDemftjNLHXP5aYrqxZY4UlA3Hn7vZm3K7eHq/d7uzXqaUk2l2FSo8l66m2baHZpY7IakjPxBi+Ii6utPAwaFLV/FP/ZyVNHGkJy//q2Wi7O5eFHfKrBu86y3FsYkRYp2MSu+3t1nDwRXTLbEZme7WRDAwI1OYYn9BDfa7uqUotMgXzGwp4a6SpwWcdfE1aZLSFgZgYP2hA6tksd+f+MEOJP8J1GKUEgRu8zL83E4Zf8d6F3ZYDMJBI7IGu1E8Ckt2NQWt7AAsi+aSzmBM9SOgAC+SWffAV+FR7IFDswx/EdEisFldpdVNKM6TshCCAufFw72GZM/vbOQY5R7WJ7JvmoDjQubagsk8U/YDul8+Q="
    # Permissions: public_repo
    # travis encrypt --org GH_TOKEN=<value>
    - secure: "Xcq5tJut5V7EcKhHltujP1CclMnfisPdBqLQGxy5FbwKkbSptk2W4cmEKXBA++/R2VTwoGY4aC8JeM5J1ggpl+OcJmxIIwL6plMsy5GWwiJbyk3vy/IMuAcZTaypWbqgnfVFcjZLbdvbiRs19eFGkqgyX053oTgUuIdQvgITwyGCQOb3WKy0nWm63H0Jzzdgp/eT2xgUiYltyrGZyeW7GmCqXmNj6dsyi+xmrLm6V6Ih2J+DEh9pJCm/QYWXU2by0XCb+Q6FFQHZhTRIFo1ORotKJL+u+Faym4GcrepMMXV/XhazKK5+PrG0c2IDR4zXU3xfRWgLA/5s1ooJEacczdopJXRvZJS49Sy1+gxFO+JdfLVij/oq9aaDn7Ak9pYCOcEsDCwkPusf58gThbFrmQSNuIXBJgkTLrPJBlaEruD2pBy07wuWY6aBLtpxVtOEZ/f0NcFqIlZRyJeperH/1jq9Gg9fQSW93GgbKpR+NY7az86tf/aSVyBNJf2LSZsblB5QhJ8/YxjrkPUuJ4c2W1J9aED/AurJz0mQg6NRJ8F/pRG+uEI1pz2jgHdc4ymww0KG3vYcykSROn/ZyweMHk2pwwrzNnGPUFZGcIpDnc44v1f88XkU/1GZxJ59rxZchzEJwsD5YD5A3pNxz/g4QCyckVifWwI21IhMdK/T5jA="
    # travis encrypt --org GIT_AUTHOR_NAME=<value>
    - secure: "RgFerFFk0ebWFZGMFw4BYorPuy++LK08J0e6g8qDiUJFxEXwKSH/VL45yBEcT7kppGno4dPz9yPd7Hk3y1RxohpG0vmIFZiGuvXFPnbI8Xlyk7sMKAKD4mnxhEOCCIZmEtWPweAlQadtxynXxRVdqywj6x0hIILkLKXFcrDJXc48uEFPoNtVziudTZzP4PKTvlgILcnPpTbMZ1wd/B0pRTOzWWLYeA2SYK/QjH6270DD75LlUKAovJtTW0OsB0nLWQg0adoPKOttnRylA/fbh8ktFWMNfxrIQVb3XXh2BSqKmEm92PbsJsqb+v6g9KAee3LLhdjGe2dYn7mPjiiNMMleKUouN12XDfRFPOl5SC2NaFG97Qf5bcFv7jzwjXfHwNXt2bbGpmnvUD0wB1CeF9kzAX1MM+JgcEikRw409I8ulWaRopp8Ru3lKBPmCHrqP5OkLtr3TlV2unfJ1F3QkIfG+d0z9OET1MN41KJAXexKKWhxqemAiVExf6AkM/f82fOv0KxRKkIrBF3Fa/gd0b70pZK+4HJzq5GoVYJ3eZZ6RqGLDb7wLwueply3yXBdyH3ztzw2UktpWCWmw3TiBXX1fw9KPupBXvHWHUVkmVJ3C90XFmMYf0SjSzIBDrSp1+78SPr1BgOema8tY7c+MnSozbBq/RvTj75OUWTjnqc="
    # travis encrypt --org GIT_AUTHOR_EMAIL=<value>
    - secure: "nvCskHBRgbqMyjYVWX3wesaSCH6MSBbuqqVEmYv3ReSp9bLC11813hDNCsvlnZ9OCUl5eZpnKzOeMhJ1rgT0ELG4hbSpoSUPtLt9a7Y8ayDWeZH6M++6N9De3GbiPCO+LH3y8JqDT9G2fosLnfba54zTrCBjBBjIZcO13dJZ6pqoUff3UPCeA36RXJPIyI7XJlXB7QEIeAI4NK4V+K3qEpUGWPnMcUIQxnHsjI4h/54XmxDM6++IPJAsH8fZRW4kw9ateCDUjVfLF5SN1dY6sJE12ssFqpzQ0qR3byHXyA+dPMk4+P6Ij4yZ2HZBB9nMjgWTbjY2O4CBvIWwXyCCaGTlispTqueXPNI6++6Su1w2D6fszt+S+HKHG2adyC+yG0fV5MPSitLQM/BhyZ/1yGwo3FpZbI7kABaVp3SVV/HS/KYmxvRaTxx9QtIG8L3vjs58+GYkpzJCFRKu52Si5tqZPwheDsHnv4/y/YvgonPNRhv4dFA0k0JhwhkXrFI3cDv3dPZhRfXznHxb16R1Dr/cX0OONS8CtfUvHYHKMW/MiPmXQP6YP73AxZEssRPXxbNMAb41e5Yr2YdBdtFrzDKcU3a9YF0pZIFhQsD7ldKTOtnvNsbHtz17UaIzLbzKQQgMYBaCGtrXwkTzB7IS3dc2rQcPUaUc+6V39shC71c="
    # travis encrypt --org NPM_TOKEN=<value>
    - secure: "Z98Hd1myd6ISNuzwwUitBtpuAzp6bjcp3fvEO/wBJGVkHAXPLXCI/rhC/YWdbuLDCMGBVKq1qj0D15hN+r+TuAQ39PSYwMSaBHroiel2lZt0pt7Dm6WVl5PnoRw+f9WjuWe0yKGHPgY7HcqkmJwmiOg3WpWYabzX3AliTvX5ugkwKj2cBTueUxwIZvJGS9+yiEo6KBIcgTGo200CqTG+LAKHcPhUGTfU0lQGsAe0783HUwMh+y0TJikZ3iW0IIy0z72fQl1h7nvlesGImMYXi8Uev1FVs4Wi1/VcbmI5daYSuftsEDfM+P8xq+ALXdSqtn8cuH6c6CK/x3NUmX8gJ6P072vvQqHDWadVwiAPrgE7nl+aEOSRp9LpOFbP4scAIVJBnmEfSyLasW0AACdg/LqpTxOmO0xNO5/cLTTpTwXDCmvgdhlv2ZLLfwgmGvyscJJYVmsmWB28yCzYp3hB+9xhvJbwfwbMqvGivaAyoD82Wqg9oWHdtUMWpLhgSGsw0SkwBCA9/B4tbYbedl4E6IJohhnbSpNjX8ZoKoqFPR/kyNegRrykBKmcnQrAcov5SKN1rLgBOESW85u4i55yL6fqvqqRCMvJJGjUgSz7YGetRBhxOVTLd4rL4J2l4t7/XnMB7uXqvQ1z4QGhtJD3rIbTSWBLK137rRM4OTXkK/E="
